.title {
  align-items: center;
  background-color: #081351;
  background: linear-gradient(to right,red 5%, orange 20%, yellow 35%, green 50%, dodgerblue 65%, indigo 80%, violet 95%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: .5rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.rinp-logo {
  height: 5rem;
  width: 5rem;
}

#desktop {
  height: 1px;
  visibility: hidden;
}

a {
  color: #1e1ef0;
  cursor: pointer;
}

a:hover {
  color: #a00a55;
  text-decoration: none;
}

a:visited {
  color: #1e1ef0;
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

section {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

section > h2 {
  margin-bottom: 0.5rem;
}

section > p {
  margin-top: 0;
}

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

#positive {
  background-color: #ffd1b3;
  border: 1px solid #ff6400;;
}

#pride {
  background-color: #e1d9f2;
  border: 1px solid #7855c3;
}

#archive {
  background-color: #d5f1f6;
  border: 1px solid #6fcfe1;
}

button, input[type="submit"] {
  align-self: center;
  background: #081351;
  border: 1px solid white;
  border-radius: .3125rem;
  box-shadow: 2px 2px 5px black;
  color: white;
  cursor: pointer;
  font-family: 'Grandstander', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: .5rem;
  padding: .625rem;
  text-align: center;
  width: 6.25rem;
}

button:hover, input[type="submit"]:hover {
  background-color: #a00a55;
  box-shadow: inset 2px 2px 2px black;
}

article {
  background: lightgoldenrodyellow;
  border-radius: .33rem;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  font-size: small;
  height: max-content;
  margin: 0.5rem;
  min-height: min-content;
  padding: 0 0.5rem;
  text-align: left;
  width: 80%;
}

article > h3 {
  margin-bottom: 0.25rem;
}

article > p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.signature {
  font-style: italic;
}

footer > p {
  font-size: smaller;
  text-align: center;
}

.commentform {
  background: rgba(255, 255, 255, 1);
  border: 1px solid grey;
  border-radius: .5rem;
  display: flex;
  flex-basis: content;
  flex-direction: column;
  font-family: 'Grandstander', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: auto;
  padding: .5rem;
  position: fixed;
  top: 30%;
  left: 5%;
  visibility: hidden;
  width: 85%;
}

.hidden {
  display: none;
}

label {
  margin: auto;
  padding: .5rem;
  width: 75%;
}

input[type="text"], textarea, input[type="submit"] {
  background-color: #e7f5fe;
  border: 1px solid grey;
  border-radius: .33rem;
  margin: 0.25rem auto;
  width: 95%;
}

@media screen and (min-width: 480px) {
  .commentform {
    top: 5%;
  }

  article {
    width: 38%;
  }

  .archived {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .commentform {
    top: 30%;
  }

  .title {
    flex-direction: row;
  }

  #desktop {
    height: 5rem;
    visibility: visible;
  }
}

@media screen and (min-width: 1024px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  section {
    justify-content: flex-start;
    margin-right: 1%;
    min-height: 75vh;
    text-align: center;
    width: 30vw;
  }

  #content {
    height: 80vh;
  }

  .comments {
    max-height: 80%;
  }

  #positive {
    flex: 2 1 0;
    margin-left: 1%;
  }

  #pride {
    flex: 2 1 0;
  }

  #archive {
    flex: 1 1 0;
  }

  .commentform, .prideform {
    top: 33%;
    left: 33%;
    width: 33%;
  }
}