body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Grandstander', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-kerning: auto;
  font-size: 1rem;
  font-variant: normal;
  line-height: 1.65;
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}
